---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h2>Tutorials</h2>
<ul>{% for post in site.talks reversed %}
  {% if post.type == 'tutorial' %}
    <li>{% include archive-single-talk-simon.html %}</li>
  {% endif %}
{% endfor %}</ul>

<h2>Conference Presentations</h2>
<ul>{% for post in site.publications reversed %}
  {% if post.type == 'conference' and post.slidesurl %}
    <li>{% include archive-single-talk-simon.html %}</li>
  {% endif %}
{% endfor %}</ul>

<h2>Conference Posters</h2>
<ul>{% for post in site.publications reversed %}
  {% if post.type == 'conference' and post.posterurl %}
    <li>{% include archive-single-talk-simon.html %}</li>
  {% endif %}
{% endfor %}</ul>
