---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h2>Tutorials</h2>
{% for post in site.talks reversed %}
  {% if post.type == 'tutorial' %}
    {% include archive-single-talk-simon.html %}
  {% endif %}
{% endfor %}

<h2>Conference Presentations</h2>
{% for post in site.publications reversed %}
  {% if post.type == 'conference' %}
    {% include archive-single-talk-simon.html %}
  {% endif %}
{% endfor %}
